<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bai 6</title>
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/css/halfmoon.min.css" rel="stylesheet" />
</head>

<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars">
    <div class="page-wrapper with-navbar with-sidebar" data-sidebar-type="overlayed-sm-and-down">
        
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="d-flex flex-column justify-content-center align-items-center gap-3 py-4">
                    
                    <h2 class="text-center">Product List with Pagination</h2>
                    
                    <div class="card" style="max-width: 800px; width: 100%;">
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="product : ${products}">
                                            <td th:text="${product.name}"></td>
                                            <td th:text="${product.price}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    
                    <nav aria-label="Product pagination">
                        <ul class="pagination">
                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" 
                                class="page-item" 
                                th:classappend="${page==i} ? 'active' : ''">
                                <a class="page-link" 
                                   th:href="@{'/lab2/products3'(page=${i},size=${size})}" 
                                   th:text="${i+1}"></a>
                            </li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
        </div>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/js/halfmoon.min.js"></script>
</body>
</html>
