<form action="/lab6/category/index" th:object="${item}" method="post">
    <fieldset class="grid">
        <label>
            <input th:field="*{id}" placeholder="Category Id?"/>
        </label>
        <label>
            <input th:field="*{name}" placeholder="Category Name?"/>
        </label>
    </fieldset>
    <fieldset class="grid">
        <button formaction="/lab6/category/create">Create</button>
        <button formaction="/lab6/category/update">Update</button>
        <button th:formaction="@{|/lab6/category/delete/${item.id}|}">Delete</button>
        <button formaction="/lab6/category/index">Reset</button>
    </fieldset>
</form>