<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Staff</title>
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/css/halfmoon.min.css" rel="stylesheet"/>
    <style>i{color: red}</style>
</head>

<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars">
<div class="page-wrapper with-navbar with-sidebar" data-sidebar-type="overlayed-sm-and-down">

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-items-center py-4">

                <div class="card" style="max-width: 600px; width: 100%;">
                    <div class="card-body">

                        <h2 class="card-title text-center mb-4">Create Staff</h2>

                        <div th:if="${message}" class="alert alert-primary mb-3">
                            <i th:text="${message}" style="color: aqua"></i>
                        </div>

                        <form th:object="${staff}" action="/lab4/staff/create/save" method="post"
                              enctype="multipart/form-data">

                            <div class="mb-3">
                                <label for="id" class="form-label">Email:</label>
                                <i th:errors="*{email}"></i>
                                <input th:field="*{email}" id="id" class="form-control" placeholder="example@mail.com">
                            </div>

                            <div class="mb-3">
                                <label for="name" class="form-label">Họ và tên:</label>
                                <i th:errors="*{name}"></i>
                                <input th:field="*{name}" id="name" class="form-control" placeholder="I am example">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Giới tính:</label>
                                <div class="form-check">
                                    <input type="radio" th:field="*{gender}" value="true" id="male"
                                           class="form-check-input">
                                    <label for="male" class="form-check-label">Nam</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" th:field="*{gender}" value="false" id="female"
                                           class="form-check-input">
                                    <label for="female" class="form-check-label">Nữ</label>
                                </div>

                            </div>

                            <div class="mb-3">
                                <label for="dob" class="form-label">Ngày sinh:</label>
                                <i th:errors="*{dob}"></i>
                                <input th:field="*{dob}" id="dob" type="date" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="photo_file" class="form-label">Hình ảnh:</label>
                                <input th:field="*{photo}" type="hidden">
                                <input name="photo_file" id="photo_file" type="file" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="level" class="form-label">Cấp bậc:</label>
                                <select th:field="*{level}" id="level" class="form-select">
                                    <option value="0">Úy</option>
                                    <option value="1">Tá</option>
                                    <option value="2">Tướng</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="salary" class="form-label">Salary:</label>
                                <i th:errors="*{salary}"></i>
                                <input th:field="*{salary}" id="salary" type="number" class="form-control">
                            </div>

                            <button type="submit" class="btn btn-primary w-100">Create</button>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/js/halfmoon.min.js"></script>
</body>
</html>